# Vite Dev Server Network Host
VITE_HOST=0.0.0.0
VITE_PORT=5173

# Firebase Web Configuration
VITE_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=device-streaming-ccc13d80.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=device-streaming-ccc13d80
VITE_FIREBASE_STORAGE_BUCKET=device-streaming-ccc13d80.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=678212147617
VITE_FIREBASE_APP_ID=1:678212147617:web:6d3dda19d073c015c213e0

# Backend API Base URL
VITE_API_BASE_URL=http://localhost:5001/api
